
<div class="main">
    <h2>toDoList</h2>
    <div class="todolist">
        <div class="col-sm-9">
            <input class="form-control" type="text" name="search" id="search" [(ngModel)]="keyword" (keydown)="keyDown($event)" >
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-default" (click)="addDate()">add</button>
        </div>
    </div>
    <hr>
    <div class="list">
        <div>
            <h4>待辦事項</h4>
            <ul>
                <li *ngFor="let history of historyList; let key = index" [hidden]="history.status==1">
                    <input type="checkbox" name="status" id="status" [(ngModel)]="history.status" >
                    {{history.title}}
                    <button type="button" class="btn btn-default btn-xs" (click)="doDelete(key)">x</button>
                </li>
            </ul>
        </div>
        <div>
            <h4>已完成事項</h4>
            <ul>
                <li *ngFor="let history of historyList; let key = index" [hidden]="history.status==0">
                    <input type="checkbox" name="status" id="status" [(ngModel)]="history.status" >
                    {{history.title}}
                    <button type="button" class="btn btn-default btn-xs" (click)="doDelete(key)">x</button>
                </li>
            </ul>
        </div>
    </div>
</div>

