<!-- <app-news></app-news>
<hr><hr>
<app-home></app-home> -->


<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <app-form></app-form> -->
<!-- <app-search></app-search>
<app-todolist></app-todolist> -->

<!-- <app-dom-and-view-child></app-dom-and-view-child> -->
<!-- <app-transition></app-transition> -->
<!-- <app-home2></app-home2> -->
<!-- <app-news2></app-news2> -->

<!-- <app-home3></app-home3> -->
<!-- <app-new3></app-new3> -->

<div>
    <header class="header">
        <a routerLink="/home" routerLinkActive="active">首頁</a>
        <a routerLink="/product" routerLinkActive="active">商品</a>
    </header>
</div>

<router-outlet></router-outlet>
